<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>

    </context-param>
    <context-param>
        <param-name>application.description</param-name>
        <param-value>Przykładowa aplikacja JSF</param-value>
    </context-param>
<!--    <context-param>-->
<!--        <param-name>jersey.config.jsonFeature</param-name>-->
<!--        <param-value>JacksonFeature</param-value>-->
<!--    </context-param>-->
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <!-- SECURITY -->
    <security-role>
        <role-name>CLIENT</role-name>
    </security-role>
    <security-role>
        <role-name>USER_ADMIN</role-name>
    </security-role>
    <security-role>
        <role-name>RESOURCE_ADMIN</role-name>
    </security-role>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>addReservation</web-resource-name>
            <url-pattern>/faces/addReservation.xhtml</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>USER_ADMIN</role-name>
            <role-name>RESOURCE_ADMIN</role-name>
            <role-name>CLIENT</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>addRoom</web-resource-name>
            <url-pattern>/faces/addRoom.xhtml</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>RESOURCE_ADMIN</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>addUser</web-resource-name>
            <url-pattern>/faces/addUser.xhtml</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>USER_ADMIN</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>editRoom</web-resource-name>
            <url-pattern>/faces/editRoom.xhtml</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>RESOURCE_ADMIN</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>editUser</web-resource-name>
            <url-pattern>/faces/editUser.xhtml</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>USER_ADMIN</role-name>
        </auth-constraint>
    </security-constraint>

<!--    <security-constraint>-->
<!--        <web-resource-collection>-->
<!--            <web-resource-name>login</web-resource-name>-->
<!--            <url-pattern>/faces/login.xhtml</url-pattern>-->
<!--        </web-resource-collection>-->
<!--    </security-constraint>-->

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>reservationlist</web-resource-name>
            <url-pattern>/faces/reservationlist.xhtml</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>USER_ADMIN</role-name>
            <role-name>RESOURCE_ADMIN</role-name>
            <role-name>CLIENT</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>roomlist</web-resource-name>
            <url-pattern>/faces/roomlist.xhtml</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>USER_ADMIN</role-name>
            <role-name>RESOURCE_ADMIN</role-name>
            <role-name>CLIENT</role-name>
        </auth-constraint>
    </security-constraint>

    <!--    <security-constraint>-->
    <!--        <web-resource-collection>-->
    <!--            <web-resource-name>start</web-resource-name>-->
    <!--            <url-pattern>/faces/start.xhtml</url-pattern>-->
    <!--        </web-resource-collection>-->
    <!--    </security-constraint>-->

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>userList</web-resource-name>
            <url-pattern>/faces/userList.xhtml</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>USER_ADMIN</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>userSettings</web-resource-name>
            <url-pattern>/faces/userSettings.xhtml</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>USER_ADMIN</role-name>
            <role-name>RESOURCE_ADMIN</role-name>
            <role-name>CLIENT</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>viewRoom</web-resource-name>
            <url-pattern>/faces/viewRoom.xhtml</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>USER_ADMIN</role-name>
            <role-name>RESOURCE_ADMIN</role-name>
            <role-name>CLIENT</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>viewUser</web-resource-name>
            <url-pattern>/faces/viewUser.xhtml</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>USER_ADMIN</role-name>
        </auth-constraint>
    </security-constraint>

    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.xhtml</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
